xalan-j_2_7_1/xdocs/style/dtd/faqs.dtd

<?xml encoding='US-ASCII'?>

<!-- STYLEBOOK FAQS DTD -->

<!-- import the external blocks.ent dtd -->
<!ENTITY % blocksEntity SYSTEM "blocks.ent">
%blocksEntity;

<!ELEMENT faqs (faq)+>
<!ATTLIST faqs title CDATA #REQUIRED>

<!ELEMENT faq (q,a)>
<!ATTLIST faq title CDATA #IMPLIED>


<!ELEMENT q (#PCDATA)>
<!ELEMENT a (%blocks;)+>

<!-- CVS $Revision: 1.1 $ $Date: 1999/12/01 14:19:18 $ -->